<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/icon.png">

    <title>Zidapparel</title>
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/flexslider.css" rel="stylesheet">
    <link href="assets/css/toaster.css" rel="stylesheet">
    <link href="assets/css/ngProgress.css" rel="stylesheet">
    <meta property="og:title" content="Zidapparel"/>
    <meta property="og:type" content="Apparel"/>
    <meta property="og:url" content="http://zid-apparel.com/"/>
    <meta property="fb:app_id" content="1611936309024541" />
    <meta property="og:image" content="http://zid-apparel.com/assets/img/cover%20web.jpg"/>


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="assets/css/carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
<!-- Header -->
<body>
<div class="container" ng-app="module">
      <div class="loading" ng-show="startup">
        <div></div>
      </div>
      <div class="header auto rel" ng-controller="menuCtrl">
          <div class="rel block-left">
              <div class="logo">
                <div class="logo-logo abs"><img ng-src="{{logo}}" alt="" width="100%"></div>
              </div>
              <div class="menu abs">
                <ul>
                  <li ng-repeat="isis in isi"><a ng-href="{{isis.url}}" ng-click="underLine($index)" ng-model="isinya" ng-class="{active:$index==selected}" >{{isis.value}}</a></li>
                </ul>
              </div>
          </div>
          <div class="rel block-left">
            <div class="icon">
              <a ng-repeat="item in links" href="{{item.link}}"><img ng-src="{{item.image}}"></a>
            </div>
            <div class="search">
              <input type="text" name="" value="" ng-model="searchInput" placeholder="Search"><button ng-click="search()" type="button" class="btn btn-warning">Search</button>
            </div>
          </div>
      </div>
<!-- End Header -->
<div class="popup" ng-show="popup"><popup></popup></div>
<ng-view></ng-view>
<toaster-container></toaster-container>

<!-- Footer -->
    <div class="footer rel full-w" ng-controller="footerCtrl">
        <div class="footer-1 full-w rel"></div>  
        <div class="footer-2 block-left rel pdr5"><h3 class="catpion">Recent Order</h3>
            <div class="full-w recent rel cp" ng-repeat="recent in recents"><a ng-href="#/product/detail/{{recent.cat_id}}"><img ng-src="{{recent.cat_image}}" class="rel full-h block-left"><div class="rel full-he block-left">{{recent.cat_name | uppercase}}<br>{{recent.contact_name}}</div></a></div>
        </div>
        <div class="footer-2 block-left rel pdr5 pdl5"><h3 class="catpion">Payment</h3>
            <div class="row" ng-repeat="item in banks">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                  <img ng-src="{{item.image}}" alt="" width="60px">
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                  {{item.rek}}
                </div>
            </div>
        </div>
        <div class="footer-2 block-left rel pdr5 pdl5"><h3 class="catpion">Event</h3>
          <div class="recent-event rel">
            <div class="row no-padding" ng-repeat="event in events">
              <a ng-href="#/event/{{event.id}}">
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-padding">
                  <img ng-src="{{event.source}}" class="thumbnail" width="50px">
              </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 no-padding">
                  <div>{{event.name}}</div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="footer-2 block-left rel pdl5">
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" ng-repeat="contact in contacts">
                <h3>Contact</h3>
                <button class="btn-warning">{{contact.phone}}</button>
                <p ng-bind-html="contact.detail"></p>
          </div>
        </div>
    </div>
<!-- End Footer -->
</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/angular/angular.min.js"></script>
    <script src="assets/js/angular/angular-route.min.js"></script>
    <script src="assets/js/angular/angular-sanitize.min.js"></script>
    <script src="assets/js/angular/angular-animate.min.js"></script>
    <script src="assets/js/angular/angular-touch.min.js"></script>
    <script src="assets/js/angular/angular-file-upload.min.js"></script>
    <script src="assets/js/angular/angular-file-upload-shim.min.js"></script>
    <script src="assets/js/toaster.js"></script>
    <script src="assets/js/ngProgress.min.js"></script>
    <script src="assets/js/jquery.flexslider.js"></script>
    <script src="assets/js/angular-flexslider.js"></script>
    <script src="assets/js/ngmain.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1611936309024541',
          xfbml      : true,
          version    : 'v2.3',
          cookie     : true
        });
      };
    
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
  </body>
</html>
