<div class="row">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Item</th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Name</td>
				<td>{{name}}</td>
			</tr>
			<tr>
				<td>Phone Number</td>
				<td>{{phone}}</td>
			</tr>
			<tr>
				<td>Email Address</td>
				<td>{{email}}</td>
			</tr>
			<tr>
				<td>Address</td>
				<td>{{address}}</td>
			</tr>
			<tr>
				<td>Size</td>
				<td>{{size}}</td>
			</tr>
			<tr>
				<td>QTY</td>
				<td>{{qty}}</td>
			</tr>
			<tr>
				<td>Billing information</td>
				<td><img ng-src="../{{image}}" alt="" width="100%"></td>
			</tr>
		</tbody>
	</table>
</div>