<div class="row">
	<div class="panel panel-default">
		  <div class="panel-heading">
				<h3 class="panel-title">Distributor</h3>
		  </div>
		  <div class="panel-body">
				<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
					<form name="form">
						<div class="panel panel-default">
							<div class="panel-body">
							    <text-angular ng-model="detail"></text-angular>
							    <br>
							    <button ng-click="submit()" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span>Save</button>
							    <button ng-click="cancel()" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>Cancel</button>
							</div>
						</div>
					</form>
				</div>
		  </div>
	</div>
</div>