		<div class="row" ng-controller="galleryAddCtrl">
			<div class="col-lg-12"><form name="form">
				<div class="panel panel-default">
					<div class="panel-heading">Add Category&nbsp;&nbsp;&nbsp;<input type="submit" ng-click="submit(image)" class="btn btn-primary" value="Save">&nbsp;&nbsp;&nbsp;<input type="reset" name="" value="Cancel" class="btn btn-danger" ng-click="reset()"><small>&nbsp;&nbsp;&nbsp;Dimensi gambar harus berukuran 1024 x 571 pixel</small></div>
					<div class="panel-body table-unik">
						<div class="button btn-primary btn-upload" ng-file-select ng-file-change="upload($files)">Upload</div>
						    	<div class="progress progress-upload">
						    		<div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}%">{{progress}}%</div>
						    	</div>
							<img ng-src="../{{image}}" ng-show="imageShow" width="400px" height="auto">
						<span class="label label-{{labelClass}}" ng-show="labelShow">{{labelText}}</span>
					</div>
				</div>
				</form>
			</div>
		</div><!--/.row-->	